:host {
  display: inline-block;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 15px;
  line-height: 15px;
  color: #9A9A9A;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

:host:not(.parent-is-popup) {
  width: auto;
}

:host(.vertical-menu) {
  display: block;
  margin-left: 0;
  color: #9A9A9A;
}

:host(.vertical-menu.in-popup) {
  padding-left: 16px;
}

span {
  pointer-events: none;
}

.glyphicon {
  top: 1px;
  font-size: 14px;
  margin-right: 4px;
  margin-left: 8px;
}

.glyphicon:first-of-type {
  margin-left: 0;
}

.glyphicon:last-child {
  margin-right: 0;
}

.glyphicon-menu-left,
.glyphicon-menu-right,
.glyphicon-menu-down,
.glyphicon-menu-up {
  float: right;
}

.menu-item {
  padding: 30px 20px;
}

.menu-item.vertical-menu {
  padding: 25px 20px;
}

.router-link-active,
.menu-item:hover {
  background-color: #F7F7F7;
  color: #335F7D;
}
