<!--<div *ngIf="frameworkConfigService.showLanguageSelector">
  <img class="flag-image" src="assets/flag-eng.png" alt="Flag">
  <span>EN</span><span class="glyphicon glyphicon-chevron-down"></span>
</div>

<div *ngIf="frameworkConfigService.showUserControls">
  <span>ARMIN</span>
  <span class="sign-out" (click)="signOut()">SIGN OUT</span>
</div>-->


<nav>
  <ul>
    <li *ngIf="frameworkConfigService.showLanguageSelector">
      <div class="main-menu-item">
        <div id="language-menu" class="menu-item" (mouseleave)="onMenuItemMouseLeave($event)" (mouseenter)="onMenuItemMouseEnter($event)">
          <span class="glyphicon glyphicon-flag"></span>
          <span class="condensed-font">ENG</span>
          <span class="glyphicon glyphicon-menu-down"></span>
        </div>
        <div class="popup-menu" id="language-popup" *ngIf="mouseInPopup1 || mouseInItem1" (mouseleave)="onPopupMouseLeave($event)"
          (mouseenter)="onPopupMouseEnter($event)" [style.left.px]="popupLeft" @visibilityChanged [style.top.px]="popupTop">
          <li>
            <div class="menu-item">
              <span class="glyphicon glyphicon-flag"></span>
              <span class="condensed-font">GER</span>
            </div>
          </li>
        </div>
      </div>
    </li>
    <li *ngIf="frameworkConfigService.showUserControls">
      <div class="main-menu-item" >
        <div id="user-menu" class="menu-item" (mouseleave)="onMenuItemMouseLeave($event)" (mouseenter)="onMenuItemMouseEnter($event)">
          <span class="glyphicon glyphicon-user"></span>
          <span class="condensed-font">ARMIN</span>
          <span class="glyphicon glyphicon-menu-down"></span>
        </div>
        <div id="user-popup" class="popup-menu" *ngIf="mouseInPopup2 || mouseInItem2" (mouseleave)="onPopupMouseLeave($event)" (mouseenter)="onPopupMouseEnter($event)"
          [style.left.px]="popupLeft" [style.top.px]="popupTop" @visibilityChanged>
          <li>
            <div class="menu-item" (click)="signOut()">
              <span class="glyphicon glyphicon-lock"></span>
              <span class="condensed-font">SIGN OUT</span>
            </div>
          </li>
        </div>
      </div>
    </li>
  </ul>
</nav>
