:host {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

:host(.vertical-menu) {
    display: inline-block;
    max-width: 220px;
    min-width: 220px;
    flex-grow: 0;
    background-color: white;
    border-right: 1px solid #E3E3E3;
    overflow: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.main-menu-item {
  display: inline-block;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 15px;
  line-height: 15px;
  color: #9A9A9A;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

.main-menu-item:not(.parent-is-popup) {
  width: auto;
}

.main-menu-item.vertical-menu {
  display: block;
  margin-left: 0;
  color: #9A9A9A;
}

.main-menu-item.vertical-menu.in-popup {
  padding-left: 16px;
}

span {
  pointer-events: none;
}

.glyphicon {
  top: 1px;
  font-size: 14px;
  margin-right: 4px;
  margin-left: 8px;
}

.glyphicon:first-of-type {
  margin-left: 0;
}

.glyphicon:last-child {
  margin-right: 0;
}

.glyphicon-menu-left,
.glyphicon-menu-right,
.glyphicon-menu-down {
  float: right;
}

.menu-item {
  padding: 31px 20px 31px 20px;
}

.menu-item.vertical-menu {
  padding: 31px 20px 31px 20px;
}

.router-link-active,
.menu-item:hover {
  background-color: #F7F7F7;
  color: #335F7D;
}

.popup-menu {
  position: absolute;
  display: inline-block;
  width: 125px;
  background-color: white;
  border: 1px solid #E3E3E3;
  border-top: 2px solid #335F7D;
  z-index: 1;
}
