:host {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-grow: 1;
}

:host(.vertical-menu) {
    display: inline-block;
    max-width: 220px;
    min-width: 220px;
    flex-grow: 0;
    background-color: white;
    border-right: 1px solid #E3E3E3;
    overflow: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

button {
    margin-top: 20px;
    margin-left: 20px;
}

button.horizontal {
    margin-left: 20px;
    margin-bottom: 20px;
}