:host {
  position: absolute;
  display: inline-block;
  width: 175px;
  background-color: white;
  border: 1px solid #E3E3E3;
  border-top: 2px solid #335F7D;
  z-index: 1;
}

:host(.vertical-menu) {
  position: static;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
