<app-users-view>
</app-users-view>

<h3>Charts</h3>
<div class="row">
    <div class="col-sm-4">
      <fw-panel>
        <div class="projected-title panel-heading">
          <h3 class="panel-title">Pie Chart</h3>
        </div>
        <fw-pie-chart [data]="data"></fw-pie-chart>
      </fw-panel>
    </div>
    <div class="col-sm-4">
      <fw-panel>
        <div class="projected-title panel-heading">
          <h3 class="panel-title">Bar Chart</h3>
        </div>
        <fw-bar-chart [data]="data"></fw-bar-chart>
      </fw-panel>
    </div>
    <div class="col-sm-4">
      <fw-panel>
        <div class="projected-title panel-heading">
          <h3 class="panel-title">Dougnhut Chart</h3>
        </div>
        <fw-doughnut-chart [data]="data"></fw-doughnut-chart>
      </fw-panel>
    </div>
</div>