/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Roboto', sans-serif;
}

.condensed-font {
  font-family: 'Roboto Condensed', sans-serif;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
